<!DOCTYPE html>
<html>
<head>  
</head>
<body>
<div class="login-form">
  <h3>Reset Passwords</h3>
<p><%=(typeof alertMsg!='undefined')? alertMsg:''%></p>
<form method="post" action="/api/users/resetPassword">
        <input type="email" placeholder="Email Address" name="email" required />
        <button type="submit">Reset Password</button>
  </div>
</form>
</div>
</body>
</html>