<html lang="en" dir="ltr" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">
    <base href="/">
    <title>eCommerce Shipping & Logistics Solutions | Courier Aggregator - NimbusPost</title>
    <meta data-browser="chrome" data-browser-major="81">
    <meta name="description" content="NimbusPost is an advance eCommerce Shipping & Logistics Solution trusted by 10000+ global sellers. Shipping @21/500gm, 27000+ Pin codes reach. Next day COD remittance at Zero Cost*, Real-time tracking, Free Signup!">
    <link href="https://ship.nimbuspost.com/assets/login/images/logo.png" rel="icon"/>
    <!--<link href="https://ship.nimbuspost.com/assets/signup/css/signupstyle.css" rel="stylesheet">-->
    <link href="/public/custom/css/signpage.css" rel="stylesheet">
    <link href="/public/custom/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KK53LP4');
    </script>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
    window.OneSignal = window.OneSignal || [];
    OneSignal.push(function() {
        OneSignal.init({
        appId: "e4285a65-d48a-4490-8966-788a7e4d85d3",
        notifyButton: {
            enable: true,
        },
        });
    });
    </script>-->
</head>
    <body>
    <style>
    .formerror {
        color: #cc0033 !important;
        margin-left: 17px;
    }

    .formerror p {
        color: #cc0033 !important;
        font-weight: 600;
        font-family: sans-serif;
    }
</style>
<section class="one" style="padding-bottom: 25px;">
    <div class="container" style="margin-top: -58px;">
        <div class="row abc">
            <div class="col-md-6 left_section">
                <img src="/public/custom/img/dummy-logo.png" alt="Italian Trulli" class="nimbuspost_logo" width="20%">
                <div class="firstsection">Empowering Businesses<br>With Quick & Hassle-Free<br>Logistic Solutions</div>
                <div class="secondsection">
                    <img class="firstimg" src="/public/custom/img/signup/bannerIcon1.png"/>Reduce RTO by 25%*<br>
                    <img class="secondimg" src="/public/custom/img/signup/bannerIcon2.png"/>Cloud-Based Support Solution<br>
                    <img class="thirdimg" src="/public/custom/img/signup/bannerIcon3.png"/>Easy Channel Integration<br>
                    <img class="fourthimg" src="/public/custom/img/signup/bannerIcon4.png"/>AI-Fraud Detection and Order Filtering<br>
                    <img class="fifthimg" src="/public/custom/img/signup/bannerIcon5.png"/>COD Remittance at Zero* Cost
                </div>
            </div>
            <div class="col-md-6 signupform right_section">
                <img src="#" alt="Italian Trulli" class="nimbuspost_mobile_logo">
                <div class="firstsection">Sign Up For Simplified Shipping</div>
                <!--<div class="signup">Sign Up</div>
                <div class="signuptwo">Redefine Your Shipping Experience</div><br>-->
                    <form action="/signup" method="post">
                        <input type="hidden" name="role" value="0" />
                    <div class="row">
                        <div class="col-sm-6 v_button" >
                        <label for="text">First Name</label>
                        <input type="text"  name="first_name" value="" required>
                    </div>
                    <div class="col-sm-6 v_button" >
                        <label for="email">Last Name</label>
                        <input type="text"  name="last_name" value="" required>
                    </div>
                    <div class="col-sm-6  v_button" >
                        <label for="email">Email</label>
                        <input type="text"  name="email" value="" required>
                    </div>
                    <div class="col-sm-6  v_button" >
                        <label for="psw">Password</label>
                        <input type="password"  name="password" value="" required>
                    </div> 
                    <div class="col-sm-12  v_button" >
                        <label for="text">Contact No</label>
                        <input type="text"  name="phone" value="" required>
                    </div>
                    <div class="col-sm-12  v_button" >
                        <label for="text">Company Name</label>
                        <input type="text"  name="companyname" value="" required>
                    </div>
                    <div class="col-md-12 tc">
                        <input type="checkbox" name="aggreetc" value="1">
                        <span class="checkmark" id="checktc">By submitting this form, you agree to Nimbus Post's User <a href="https://nimbuspost.com/terms-conditions" target ="_blank;">Privacy Statement.</a></span>
                    </div>
                    <div class="col-md-12 formbb" >
                        <!--<button type="submit"style="border-radius:7px;">Register Now</button>-->
                        <input type="submit" name="signup" value="Register Now" />
                    </div>
                </form>
            </div>
            <div class="account">Have an account?<a href="/login"> Login Now</a></div>
        </div>
    </div>
</section>
<section class="two" style="padding-bottom: 25px;">
    <div class="container">
        <div class="row abc">
            <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12  signupform">
        <div class="container">
        <div class="row row-cols-5 " style="text-align:center">
        <div class="col">
        <img src="/public/custom/img/signup/StatIcon1.png" ><br>
        <div class="icon"> 10000+<br></div>
        <div class="iconone"> Happy Clients</div>
        </div>
        <div class="col">
        <img src="/public/custom/img/signup/StatIcon2.png" ><br>
        <div class="icon"> 25+<br></div>
        <div class="iconone"> Countries</div>
        </div>
        <div class="col">
        <img src="/public/custom/img/signup/StatIcon3.png" ><br>
        <div class="icon"> 27000+<br></div>
        <div class="iconone"> Pincodes Covered</div>
        </div>
        <div class="col">
        <img src="/public/custom/img/signup/StatIcon4.png" ><br>
        <div class="icon">    2M+<br></div>
        <div class="iconone">Transaction Everyday</div>
        </div>
        <div class="col">
        <img src="/public/custom/img/signup/StatIcon5.png" ><br>
        <div class="icon"> 200+<br></div>
        <div class="iconone">Experts In<br>
        Team </div>
</div>
</div>
</div>
</div>
</div>
<!-- //container -->
<div class="row">
<div class="col-12" style="text-align:center;font-size:36px;margin-top: 25px;font-family:poppins;">Why Nimbus Post</div>
</div>
<div class="row" style="text-align:center;margin-top:25px;">
<div class="col-12 col-md-4 col-sm-4 col-lg-4 col-xl-4">
<img src="/public/custom/img/signup/WCU1.png" ><br>
<div class="whynimbus">Grow your E-commerce business and<br> fetch maximum profits<br></div>
<div class="whynimbusone">• Quick COD remittance & support<br> • Multiple courier service options</div>
</div>
<div class="col-12 col-md-4 col-sm-4 col-lg-4 col-xl-4">
<img src="/public/custom/img/signup/WCU2.png" ><br>
<div class="whynimbus"> Shipping experience just got better<br></div>
<div class="whynimbusone"> • Industry’s smartest shipping automation<br>
• Enhanced post shipment experience</div>
</div>
<div class="col-12 col-md-4 col-sm-4 col-lg-4 col-xl-4">
<img src="/public/custom/img/signup/WCU3.png" ><br>
<div class="whynimbus">  Superior automated experience <br>& reduced efforts</div>
<div class="whynimbusone">• AI based order allocation engine<br>
• Plug & Play tech integration
</div>
</div>
</div>
</div>
</div>
</section>
<section class="three" style="padding-bottom: 25px;">
    <div class="container" style="text-align:center;">
        <div class="row">
            <div class="col-12" style="text-align:center;font-size:36px;margin-top: 25px;font-family:poppins;">Start Shippinig in 4 Steps</div>
        </div>
        <div class="row" style="margin-top:15px;">
            <div class="col-12 col-md-3 col-sm-3 col-lg-3 col-xl-3">
                <img src="/public/custom/img/signup/Journey1.png"><br>
                <div class="shipping"> Sign Up<br>
                    with Nimbus Post</div>
            </div>
            <div class="col-12 col-md-3 col-sm-3 col-lg-3 col-xl-3">
                <img src="/public/custom/img/signup/Journey2.png"><br>
                <div class="shipping"> Complete<br>
                    Your KYC</div>
            </div>
            <div class="col-12 col-md-3 col-sm-3 col-lg-3 col-xl-3">
                <img src="/public/custom/img/signup/Journey3.png"><br>
                <div class="shipping"> Recharge<br> Your Account</div>
            </div>
            <div class="col-12 col-md-3 col-sm-3 col-lg-3 col-xl-3">
                <img src="/public/custom/img/signup/Journey4.png"><br>
                <div class="shipping"> Start Shipping<br>
                    With Us</div>
            </div>
        </div>
    </div>
</section>
<section class="four" style="padding-bottom: 25px;">
    <div class="container">
        <div class="row">
            <div class="col-12" style="text-align:center;font-size:36px;margin-top: 25px;font-family:poppins;">That is What Our Sellers Want to Say About Us</div>
</div>
<div class="row" style="text-align:center;margin-top: 25px;">
    <div class="col-md-3">
        <div class="seller_portfolio">
            <img src="/public/custom/img/signup/1.png" ><br>
            <div class="testimonial">  Rashmi Chauhanke</div><br>
            <div class="testimonialone">
                Business Owner<br>Kaira Creations, New Delhi<br>
            </div>
            <div class="testimonialtwo">With Nimbus Post superior<br>Automated Tech & AI-driven<br>offerings, we now ensure<br>enhanced customer service.
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="seller_portfolio">
            <img src="/public/custom/img/signup/2.png" ><br>
            <div class="testimonial"> Darshan Dave</div><br>
            <div class="testimonialone">COO- The Preeti International<br></div>
            <div class="testimonialtwo"> They provide multiple shipping options that give great service and our orders reach on time and making us and our clients happy. Thank you Nimbus Post.</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="seller_portfolio">
            <img src="/public/custom/img/signup/3.png" ><br>
            <div class="testimonial">  Achin Simhal</div><br>
            <div class="testimonialone">Business Owner<br>Communication & U, Mumbai<br></div>
            <div class="testimonialtwo">Nimbus Post offers the best service in the market in terms of ease of use, cost-effectiveness, & fast implementation. Their Automation system and solid Customer support backed up my business growth.</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="seller_portfolio">
            <img src="/public/custom/img/signup/4.png" ><br>
            <div class="testimonial"> Binish Desai</div><br>
            <div class="testimonialone">Business Owner<br>SS Leathers– Gurugram<br></div>
            <div class="testimonialtwo">Nimbus Post processes are easy and hassle-free to understand. Their customer care team is professional. The logistic solution provided by them helped in increasing my customer base as well. A true savior for SME’S business must say!
        </div>
    </div>
</div>
</div>
</section>
<section style="margin:10px;">
    <div>
        <center>Copyright © Nimbuspost. All Rights Reserved</center>
    </div>
</section> 
</body>
</html>