<!DOCTYPE html>
<html>
<head>  
</head>
<body>
<div class="login-form">
  <h3>Reset Passwords</h3>
<p><%=(typeof alertMsg!='undefined')? alertMsg:''%></p>
<form method="post" action="/api/users/setPassword">
        <div><input type="password" placeholder="Password" name="password"></div>
	    <div><input type="password" placeholder="Confirm Password" name="confirm_password" ></div> 
        <button type="submit">Set Password</button>
  </div>
</form>
</div>
</body>
</html>